{{#partial "content"}}
    <form action="/sightings" method = "post">
        <input type="text" id="location" class="form-control mb-4" placeholder="Location">
        <input type="text" id="rangerName" class="form-control mb-4" placeholder="rangerName">
        <button class="btn btn-info btn-block" type="submit"> add </button>
    </form>
{{/partial}}
{{>layout.hbs}}